.AboutPlaceInfo {
    margin: 3em 0;
}

.placeInfoBlock {
    text-align: start;
    padding-left: 50px;
}
.placeInfoBlock .name {
    margin-top: 20px;
}
.addressBlock {
    color: var(--main-color);
    margin-top: 20px;
}
.address,
.phones{
   padding-right: 10px;
}