.Description {
    margin-top: 4em;
    margin-bottom: 1.7em;
}

.DescriptionNav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em auto;
}

.img {
    height: 400px;
}
.textAbout {
    margin-top: 2em;
    /* text-shadow: -1px 0px #000,
                 0 1px 0 #444; */

    text-indent:3em;
    font-style: italic
    }