.Description {
   margin-top:4em;
   margin-bottom:4em;
}

.DescriptionNav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
}

.img {
    height: 400px;
}
.text {
    margin: 3% 0 0 0;
    text-align: justify;
}