.feedbackPlace {
   

}
.modalTitles {
    text-align: center;
    width:100%;
    font-weight:600;
   
}
.feedbackPlace .feedbackLogo {
    width: 7em;
    height: 7em;
    margin-right: 1em;
}
label {
    font-weight: 600;
}
.feedbackText {
width:100%;
padding: .5em;
height:5em;
 border: 1px solid var(--main-color);

}
