        .Footer img {
            width: 40px;
            padding-left: 15px;
        }
        
        .Footer {
            background: var(--main-color);
            width: 100%;
        }
        
        .footer-address a {
            color: #DDDDDD;
        }
        
        .footer-copyright {
            color: #DDDDDD;
        }
        
        .Footer hr {
            background: white;
        }