       
.Footer {
        background: 	#0e1111;
        width: 100%;
        color: #fff;
       
}
.Footer img {
    width: 40px;
    padding-left: 15px;
}
.Footer li {
    margin: .5em 0;
}
.footerLink { 
    color: #ddd;
    transition: all 200ms ease;
    
}
.footerLink:hover { 
    color: #fff;
    
}       
       