.MainInput {
    padding: 5em;
    text-align: center;
    margin: 6em 0;
}

.MainInput p {
    font-size: 3em;
    color: white;
    font-weight: 600;
}

.MainInput input {
    font-size: 2em;
    padding: .2em .5em;
    /* background: var(--main-color); */
    background-color: white;
    border: none;
    color: #fff;
    outline: none;
    width: 20em;
    border-radius: var(--input-border-radius);
    opacity: 0.7;
}
