.MainInput {
    padding: 5em;
    text-align: center;
    margin: 6em 0;
}

.MainInput p {
    font-size: 3em;
    color: white;
<<<<<<< HEAD
=======
    font-weight: 600;
>>>>>>> b426fc17c0deaffaca5b9b4717200e23c210e2b5
}

.MainInput input {
    font-size: 2em;
    padding: .2em .5em;
    background: var(--main-color);
    border: none;
    color: #fff;
    outline: none;
    width: 20em;
    border-radius: var(--input-border-radius);
}