.login-menu{

}
.modal-body p {
  margin: 0;
  font-weight: 600;
}

.login,
.email,
.password,
.confirm
 {
  margin-bottom: 20px;
}

.button {
  display: block;
}
.keeplogin #loginkeeping {
  width: 12px;
  height: 12px;
  margin-right: 5px;
}