.modalTitles {
    text-align: center;
    width: 100%;
    font-weight: 600;
}

.modal {
    background: rgba(0, 0, 0, 0.7);
}

.modal-content {
    padding: 1em;
    border-radius: 0;
    background: #fff;
}

.feedbackPlace .feedbackLogo {
    width: 7em;
    height: 7em;
    margin-right: 1em;
}

.modal-backdrop {
    display: none;
}

label {
    font-weight: 600;
    margin: 1em 0;
}

.FormInputs {
    width: 100%;
    border: none;
    background: rgba(0, 0, 0, .5);
    padding: .5em;
    border-radius: .3em;
    color: #fff
}

.FormInputs::placeholder {
    color: #fff;
}

.feedbackText {
    width: 100%;
    padding: .5em;
    height: 5em;
    border: 1px solid var(--main-color);
}