.news {
  margin: 2em;
  
}
.news h1 {
  color: var(--main-color);
}
.newsDiv{
  display: flex;
  margin-top: 3em;
  box-shadow: 0 0 1em .3em #ddd;
}
.newsDiv img {
  height: 25em;
  
}
.newsDescription {
  color: black;
  padding: 1em;
}