.RaitingPlace {
  color: var(--main-color);
  margin-left: 15%;
}

.RaitingPlace h5 {
  color: #000;
}

.odomemterCount {
  font-size: 3em;
  font-weight: 600;
}
.flexRaiting {
  display: flex;
}
.flexRaiting p {
  margin-top: 1.5em;
  margin-left: 0.5em;
}
