.RaitingImg {
    overflow: hidden;
    position: relative;
    height: 20em;
    ;
}

.RaitingImg:hover .resultsHoverBlock {
    display: block;
}

.RaitingImg .resultsHoverBlock {
    position: absolute;
    background: rgba(52, 152, 219, .5);
    width: 100%;
    display: none;
    transition: all 5s ease-in-out;
    top: 50%;
    height: 50%;
    bottom: 0;
    padding-top: 1em;
}

.RaitingImg .resultsHoverBlock a {
    color: #fff;
}

.RaitingImg .resultsHoverBlock .resultsName {
    font-weight: 600;
    font-size: 1.5em;
}