.RaitingImg {
    overflow: hidden;
    position: relative;
    height: 20em;
}

.RaitingImg:hover .resultsHoverBlock {
    display: block;
    position: sticky;
}

.RaitingImg .resultsHoverBlock {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    display: none;
    transition: all 5s ease-in-out;
    top: 50%;
    height: 50%;
    bottom: 0;
    padding-top: 1em;
    text-align: center;
}

.RaitingImg .resultsHoverBlock a {
    color: #fff;
}

.RaitingImg .resultsHoverBlock .resultsName {
    font-weight: 600;
    font-size: 1.5em;
    color: var(--main-color);
}

.RaitingImg .resultsHoverBlock .resultsName:hover {
    color: #fff;
}