.ReviewPage {
    text-align: start;
    margin-bottom: 40px;
    margin-top: 40px;
    /* width: 600px; */
   
}

.aboutPlace {
    display: flex;
    margin: 10px;
    height: 150px;
}

.mainContainer {
    /* margin-left: 27%; */
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 20px;
}

.img {
    height: inherit;
}


.place_image {
    height: 150px;
    width: 150px;
    margin-right: 10px;
}

.pageTitle {
    border-bottom: 1px solid;
    padding-bottom: 5px;
    margin-top: 30px;
}

.Raiting {
    margin-top: 20px;
    margin-bottom: 20px;
}

.Raiting p {
    font-size: 20px;
}

.reviewForm {
    height: 100px;
    width: 80%;
}

.dishes {
    margin: 30px 0;
}
.dishes input {
    width: 80%;
    height: 40px;
}
.send {
    margin-bottom: 25px;
    background: #3498DB;
    width: 120px;
    font-weight: 600;
    color: #fff;
}