.StickyHeader {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #ccc;
    color: var(--main-color);
    z-index: 500;
}

.StickyHeader ul li {
    padding-left: 35px;
    padding-top: 15px;
    font-size: 18px;
}