.StickyHeader {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    /* transform: translateY(0); */
    /* border-bottom: 1px solid rgba(255,255,255,.1);
    background: rgba(0,0,0,.1); */
    color: #fff;
    /* z-index: 500; */
    font-weight: 600;
}
.menu ul {
    margin-left: 10%;
}

.StickyHeader ul li  {
    padding: 0.5em 1em;
    font-size: 18px; 
    color: #fff;
}

.navBarToggler {
    background: #fff;
}
.more {
    background: transparent;
    
}
/* .link {
    color: black;
} */