.StickyHeader {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: transparent;
    z-index: 500;
    font-weight: 600;
}

.StickyHeader ul li  {
    padding: 0.5em 1em;
    font-size: 18px;
    color: #fff;
}

.navBarToggler {
    background: #fff;
}
.more {
    background: transparent;
    
}