.User div {
    background: var(--main-color);
    position: absolute;
    z-index: 500;
    top: 100%;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
}

.loginDropMenu {
    padding: 0;
}

.loginDropMenu {
    background: var(--main-color);
}

.userDropDown {
    color: #fff;
    font-weight: 600;
}