html,
body {
    margin: 0;
}

.VideoBg {
    position: absolute;
    z-index: -1000;
    height: 1000px;
    background-size: cover;
<<<<<<< HEAD
   background-color: black;
=======
    
   
>>>>>>> b75d634290f1736460f693cc34dba75dc324a134
}
#background-video {
    width: 100%;
}

@media (min-aspect-ratio: 16/9) {
    .VideoBg {
        width: 100%;
        height: auto;
    }
} 

@media (max-aspect-ratio: 16/9) {
    .VideoBg {
        width: auto;
        height: 100%;
    }
}

@media (max-width: 767px) {
    .VideoBg {
        width: auto;
        height: auto;
    }
}